# Node modules
*/node_modules/
/.yarn
/node_modules
package-lock.json
yarn.lock
*/.yarn

#KeystoneJS
backend/.keystone/
backend/db/
*.log

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
*/node_modules/

# Build directories
*/build/
*/dist/

# Expo
backend/node_modules/
backend/.expo/
backend/.expo-shared/
backend/dist/
backend/npm-debug.*
backend/web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store


# Misc
.DS_Store
.env